@page "/api"
@using Newtonsoft.Json
@using CleanArchitecture.Domain.Entities
@inject HttpClient Http

<h1>Blutdruckwerte</h1>
@if (bloodPressures == null)
{
    <li class="loading loading-spinner loading-lg">Lade Daten vom Server...</li>
}
else
{
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Systolisch</th>
                    <th>Diastolisch</th>
                    <th>Puls</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var bloodPressure in bloodPressures)
                {
                    <tr>
                        <td>@bloodPressure.Id</td>
                        <td>@bloodPressure.Systolisch mmHg</td>
                        <td>@bloodPressure.Diastolisch mmHg</td>
                        <td>@bloodPressure.Pulse Schläge/Minute</td>
                        <td>@bloodPressure.DateTime</td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
        }

@code {
    private List<BloodPressure>? bloodPressures;

    protected override async Task OnInitializedAsync()
    {
        // HttpClient erstellen
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:5000");
        // GET-Anfrage an API senden
        var response = await client.GetAsync("/api/BloodPressure");

        if (response.IsSuccessStatusCode)
        {
            var jsonData = await response.Content.ReadAsStringAsync();
            // Deserialisierung
            bloodPressures = JsonConvert.DeserializeObject<List<BloodPressure>>(jsonData);
        }
    }

}